# Test description:
#   This test checks that if we set up a router with two participants: one local and
#   one with an xml security profile, the router can be used as a security backdoor:
#   it can communicate a publisher with security to a subscriber without security and
#   a publisher without security to a subscriber with security.
#
# Test architecture:
#
# ┌──────────┐                         ┌──────────┐
# │publisher │                         │publisher │
# │          │                         │          │
# │sec       │   ┌─────────────────┐   │no_sec    │
# │          │   │    ddsrouter    │   │          │
# │topic_1   ├───► ┌────┐ ┌──────┐ ◄───┤topic_0   │
# └──────────┘   │ │sec │ │no sec│ │   └──────────┘
#                │ │    │ │      │ │
# ┌──────────┐   │ │xml │ │local │ │   ┌──────────┐
# │subscriber├───► └────┘ └──────┘ ◄───┤subscriber│
# │          │   │                 │   │          │
# │sec       │   └─────────────────┘   │no_sec    │
# │          │                         │          │
# │topic_0   │                         │topic_1   │
# └──────────┘                         └──────────┘

services:

  # ROUTER
  ddsrouter:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: ddsrouter
    networks:
      - std_net
    volumes:
      - ./ddsrouter.yaml:/config.yaml
      - ./configurations:/configurations
      - ./certs:/certs
    command: ddsrouter -c /config.yaml --timeout 12

  # DOMAIN 0
  publisher_local_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_local_0
    depends_on:
      - ddsrouter
    networks:
      - std_net
    command: install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample publisher --interval 100 --samples 90 --domain 0 --topic topic_0

  subscriber_local_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_local_1
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample --samples 15 --timeout 6 --args "--samples 15 --domain 0 --topic topic_1"

  # DOMAIN SECURE
  publisher_sec_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_1
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTRTPS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample publisher --interval 100 --samples 90 -x secure_local_pub --topic topic_1  --domain 0

  subscriber_sec_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_0
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTRTPS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample --samples 15 --timeout 6 --args "--samples 15 --topic topic_0 -x secure_local_sub --domain 0"

networks:
  std_net:
  default:
    driver: none
