# Test description:
#   This test checks that the router 0 and the router 1 communicate,
#   but that the router 2 doesn't communicate with either of them.
#
#   The routers are:
#     0. A server router configured with security.
#     1. A client router configured with security.
#     2. A router configured without security.
#
# Test architecture:
#
# ┌──────────────────────────┐
# │                          │
# │  edge_0_net ┌──────────┐ │
# │             │publisher │ │
# │ ┌─────────┐ │          │ │
# │ │ddsrouter│ │topic_0   │ │
# │ │         │ └──────────┘ │
# │ │server   │              │
# │ │         │ ┌──────────┐ │   ┌──────────────────────────┐
# │ │sec      │ │subscriber│ ◄───┤                          │
# │ └─────────┘ │          │ │   │  edge_1_net ┌──────────┐ │
# │             │topic_1   │ ├───►             │publisher │ │
# │             └──────────┘ │   │ ┌─────────┐ │          │ │
# │                          │   │ │ddsrouter│ │topic_1   │ │
# └──────────────────────────┘   │ │         │ └──────────┘ │
#                                │ │client   │              │
# ┌──────────────────────────┐   │ │         │ ┌──────────┐ │
# │                          │   │ │sec      │ │subscriber│ │
# │  edge_2_net ┌──────────┐ │   │ └─────────┘ │          │ │
# │             │publisher │ │   │             │topic_0   │ │
# │ ┌─────────┐ │          │ │   │             └──────────┘ │
# │ │ddsrouter│ │topic_0   │ │   │                          │
# │ │         │ └──────────┘ │   └──────────────────────────┘
# │ │no sec   │ ┌──────────┐ │
# │ └─────────┘ │subscriber│ │
# │             │          │ │
# │             │topic_1   │ │
# │             └──────────┘ │
# │                          │
# └──────────────────────────┘

services:

  # LAN 0
  ddsrouter_server_secure_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: ddsrouter_server_secure_0
    networks:
      - edge_0_net
      - cloud_edge_net
    volumes:
      - ./configurations/ddsrouter_server_secure.yaml:/config.yaml
      - ./configurations:/configurations
      - ./certs:/certs
    command: ddsrouter -c /config.yaml --timeout 12

  publisher_sec_0_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_0_0
    networks:
      - edge_0_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTRTPS_DEFAULT_PROFILES_FILE=/configurations/configuration_local0.xml
    command: install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample publisher --interval 100 --samples 90 -x secure_local_0 --topic topic_0

  subscriber_sec_1_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_1_0
    networks:
      - edge_0_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTRTPS_DEFAULT_PROFILES_FILE=/configurations/configuration_local0.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample --samples 15 --timeout 12 --args "--samples 15 --topic topic_1 -x secure_local_0"


  # LAN 1
  ddsrouter_client_secure_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: ddsrouter_client_secure_1
    networks:
      - edge_1_net
      - cloud_edge_net
    volumes:
      - ./configurations/ddsrouter_client_secure.yaml:/config.yaml
      - ./configurations:/configurations
      - ./certs:/certs
    command: ddsrouter -c /config.yaml --timeout 12

  subscriber_sec_0_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_0_1
    networks:
      - edge_1_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTRTPS_DEFAULT_PROFILES_FILE=/configurations/configuration_local1.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample --samples 15 --timeout 12 --args "--samples 15 --topic topic_0 -x secure_local_1"

  publisher_sec_1_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_1_1
    networks:
      - edge_1_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTRTPS_DEFAULT_PROFILES_FILE=/configurations/configuration_local1.xml
    command: install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample publisher --interval 100 --samples 90 -x secure_local_1 --topic topic_1


  # LAN 2
  ddsrouter_non_authenticated_2:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: ddsrouter_non_authenticated_2
    networks:
      - edge_2_net
      - cloud_edge_net
    volumes:
      - ./configurations/ddsrouter_non_secure.yaml:/config.yaml
      - ./configurations:/configurations
    command: ddsrouter -c /config.yaml --timeout 12

  publisher_0_2:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_0_2
    networks:
      - edge_2_net
    command: install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample publisher --interval 100 --samples 90 --domain 2 --topic topic_0

  subscriber_1_2:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_1_2
    networks:
      - edge_2_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe install/AdvancedConfigurationExample/examples/cpp/dds/AdvancedConfigurationExample/AdvancedConfigurationExample --samples 0 --timeout 12 --args "--domain 2 --topic topic_1"

networks:
  edge_0_net:
  edge_1_net:
  edge_2_net:
  cloud_edge_net:
  default:
    driver: none
