# Test description:
#   This test checks that the DDS Router can communicate a publisher without security
#   with a subscriber with security and a publisher with security with a subscriber
#   without security.
#
#   The test has three parts:
#     1. In topics 0 & 1, the scenario is the same as in the backdoor test.
#     2. In topics 2 & 3, the participant without security doesn't communicate with the
#        participant with security since the router doesn't have permissions for topics 2 & 3.
#     3. In topics 4 & 5, one of the participants without security communicates with one of
#        the participants with security; making one of the participants receive the data twice.
#
# NOTE:
#   The logged warnings and errors when running the tests are expected. Fast-DDS logs warnings
#   and errors when a participant without permissions tries to connect. Four sets of logs
#   should be reported: failed to create reader & writer for participants on topics 2 & 3,
#   failed to create writer on topic 4, and failed to create reader on topic 5.
#
# Test architecture:
#
#  DOMAIN INSECURE                                          DOMAIN SECURE
#  ┌──────────┐                                             ┌──────────┐
#  │publisher │                                             │subscriber│
#  │          │                                             │          │
#  │topic_0   │                                             │topic_0   │
#  └──────────┘                                             └──────────┘
#
#              ┌──────────┐                                              ┌──────────┐
#              │subscriber│                                              │publisher │
#              │          │                                              │          │
#              │topic_1   │                                              │topic_1   │
#              └──────────┘                                              └──────────┘
#                           ┌─────────────────────────────┐
# ┌──────────┐ ┌──────────┐ │     router                  │ ┌──────────┐
# │publisher │ │subscriber│ │ ┌──────┐ ┌────────────────┐ │ │subscriber│
# │          │ │          │ │ │no_sec│ │sec             │ │ │          │
# │topic_2   │ │topic_2   │ │ │      │ │                │ │ │topic_2   │
# └──────────┘ └──────────┘ │ │local │ │xml             │ │ └──────────┘
#                           │ └──────┘ │                │ │
#              ┌──────────┐ │          │allow-pub:0,1,5 │ │ ┌──────────┐ ┌──────────┐
#              │subscriber│ │          │allow-sub:0,1,4 │ │ │subscriber│ │publisher │
#              │          │ │          └────────────────┘ │ │          │ │          │
#              │topic_3   │ │                             │ │topic_3   │ │topic_3   │
#              └──────────┘ └─────────────────────────────┘ └──────────┘ └──────────┘
# ┌──────────┐ ┌──────────┐                                 ┌──────────┐ ┌──────────┐
# │publisher │ │subscriber│                                 │subscriber│ │publisher │
# │          │ │          │                                 │          │ │          │
# │topic_4   │ │topic_4   │                                 │topic_4   │ │topic_4   │
# └──────────┘ └──────────┘                                 └──────────┘ └──────────┘
#
# ┌──────────┐ ┌──────────┐                                 ┌──────────┐ ┌──────────┐
# │publisher │ │subscriber│                                 │subscriber│ │publisher │
# │          │ │          │                                 │          │ │          │
# │topic_5   │ │topic_5   │                                 │topic_5   │ │topic_5   │
# └──────────┘ └──────────┘                                 └──────────┘ └──────────┘
#
# Test expected behavior:
#   1. The secure subscriber_sec_0 receives 15 samples from the insecure publisher_0.
#   2. The insecure subscriber_1 receives 15 samples from the secure publisher_sec_1.
#   3. The insecure subscriber_2 receives 15 samples from the insecure publisher_2.
#   4. The secure subscriber_sec_2 doesn't receive any samples from the insecure publisher_2.
#   5. The secure subscriber_sec_3 receives 15 samples from the secure publisher_sec_3.
#   6. The insecure subscriber_3 doesn't receive any samples from the secure publisher_sec_3.
#   7. The insecure subscriber_4 receives 15 samples together from the secure publisher_sec_4 and from the insecure publisher_4.
#   8. The secure subscriber_sec_4 receives 15 samples from the secure publisher_sec_4.
#   9. The insecure subscriber_5 receives 15 samples from the insecure publisher_5.
#  10. The secure subscriber_sec_5 receives 15 samples together from the secure publisher_sec_5 and from the insecure publisher_5.

services:

  # ROUTER
  ddsrouter:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: ddsrouter
    networks:
      - std_net
    volumes:
      - ./ddsrouter.yaml:/config.yaml
      - ./configurations:/configurations
      - ./certs:/certs
    command: ddsrouter -c /config.yaml --timeout 12

  # DOMAIN 0
  publisher_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_0
    depends_on:
      - ddsrouter
    networks:
      - std_net
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --domain 0 --name topic_0

  publisher_2:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_2
    depends_on:
      - ddsrouter
    networks:
      - std_net
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --domain 0 --name topic_2

  publisher_4:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_4
    depends_on:
      - ddsrouter
    networks:
      - std_net
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --domain 0 --name topic_4

  publisher_5:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_5
    depends_on:
      - ddsrouter
    networks:
      - std_net
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --domain 0 --name topic_5

  subscriber_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_1
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 15 --timeout 12 --args "--samples 15 --domain 0 --name topic_1"

  subscriber_2:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_2
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 15 --timeout 12 --args "--samples 15 --domain 0 --name topic_2"

  subscriber_3:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_3
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 0 --timeout 12 --args "--domain 0 --name topic_3"

  subscriber_4:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_4
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --allow-duplicates -1 --samples 15 --timeout 12 --args "--samples 15 --domain 0 --name topic_4"

  subscriber_5:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_5
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 15 --timeout 12 --args "--samples 15 --domain 0 --name topic_5"

##################################################
# DOMAIN SECURE

  publisher_sec_1:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_1
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --profile-participant secure_local --name topic_1  --domain 0

  publisher_sec_3:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_3
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --profile-participant secure_local --name topic_3  --domain 0

  publisher_sec_4:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_4
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --profile-participant secure_local --name topic_4  --domain 0

  publisher_sec_5:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: publisher_sec_5
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: build/fastdds_configuration_example/configuration publisher --interval 100 --samples 90 --profile-participant secure_local --name topic_5  --domain 0

  subscriber_sec_0:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_0
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 15 --timeout 12 --args "--samples 15 --name topic_0 --profile-participant secure_local --domain 0"

  subscriber_sec_2:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_2
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 0 --timeout 12 --args "--name topic_2 --profile-participant secure_local --domain 0"

  subscriber_sec_3:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_3
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 15 --timeout 12 --args "--samples 15 --name topic_3 --profile-participant secure_local --domain 0"

  subscriber_sec_4:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_4
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --samples 15 --timeout 12 --args "--samples 15 --name topic_4 --profile-participant secure_local --domain 0"

  subscriber_sec_5:
    image: ${DDSROUTER_COMPOSE_TEST_DOCKER_IMAGE}
    container_name: subscriber_sec_5
    depends_on:
      - ddsrouter
    networks:
      - std_net
    volumes:
      - ../../../scripts:/scripts
      - ./configurations:/configurations
      - ./certs:/certs
    environment:
      - FASTDDS_DEFAULT_PROFILES_FILE=/configurations/secure_configuration.xml
    command: python3 /scripts/execute_and_validate_subscriber.py --exe build/fastdds_configuration_example/configuration --allow-duplicates -1 --samples 15 --timeout 12 --args "--samples 15 --name topic_5 --profile-participant secure_local --domain 0"


  # TODO change -x for -x when fixed

networks:
  std_net:
  default:
    driver: none
