# Nightly test workflow for DDS Router
name: nightly

on:
  schedule:
    - cron: '0 5 * * *'

jobs:

  reusable_tests_v2:
    name: reusable_tests_v2
    uses: ./.github/workflows/reusable-workflow.yml
    with:
      custom_version_build: 'v2'
      dependencies_artifact_postfix: '_nightly'
    secrets: inherit

  # Uncomment this block to run the tests for Fast DDS v3 when DDS Router is updated
  # Also specify here (and above) the workflow version/branch to use (@v0, @main, etc.)
  # reusable_tests_v3:
  #   name: reusable_tests_v3
  #   uses: ./.github/workflows/reusable-workflow.yml
  #   with:
  #     custom_version_build: 'v3'
  #     dependencies_artifact_postfix: '_nightly'
  #   secrets: inherit

  reusable_docker_tests_v2:
    name: reusable_docker_tests_v2
    uses: ./.github/workflows/docker-reusable-workflow.yml
    with:
      fastcdr_branch: '2.x'
      fastdds_branch: '2.x'
      dev_utils_branch: '0.x'
      ddspipe_branch: '0.x'
      ddsrouter_branch: '2.x'
      custom_version_build: 'v2'
      dependencies_artifact_postfix: '_nightly'
    secrets: inherit

  # Uncomment this block to run the tests for Fast DDS v3 when DDS Router is updated
  # Also specify here (and above) the workflow version/branch to use (@v0, @main, etc.)
  # reusable_docker_tests_v3:
  #   name: reusable_docker_tests_v3
  #   uses: ./.github/workflows/docker-reusable-workflow.yml
  #   with:
  #     fastcdr_branch: '2.x'
  #     fastdds_branch: '3.x'
  #     ddspipe_branch: 'main'
  #     ddsrouter_branch: 'main'
  #     custom_version_build: 'v3'
  #     dependencies_artifact_postfix: '_nightly'
  #   secrets: inherit

