# Main CI for DDS Router repository
# This is executed with every PullRequest (new or update), any merge in main and every night
#
# These jobs that require to install fastrtps library uses the artifact generated for the nightly job
# so they do not have to compile the whole fastrtps project. This saves huge amount of time.
#
# JOBS:
#   - windows-build-test
#     - [ windows-2019 | windows-2022 ]
#     - [ Debug | Release ]
#     - compile up-to ddsrouter_tool ; run tests
#   - ubuntu-main-test
#     - ubuntu-20.04
#     - Debug
#     - compile all ; run tests ; calculate coverage
#   - ubuntu-release-test
#     - [ ubuntu-20.04 | ubuntu-22.04 ]
#     - Release
#     - compile all ; run tests
#   - ubuntu-build-test-flaky
#     - ubuntu-20.04
#     - Debug
#     - compile all ; run flaky tests
#   - asan-test
#     - [ ubuntu-20.04 ]
#     - Debug
#     - compile all ; run tests
#   - clang-tidy
#     - ubuntu-20.04
#     - Release
#     - compile all ; test clang-tidy
#   - uncrustify
#     - ubuntu-20.04
#     - test uncrustify
#
# The main job is ubuntu-main-test which compiles all packages (including documentation), run every test and calculates coverage.
# This main job uses ubuntu 20.04 LTS (focal fossa).

name: test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'

jobs:

  windows-build-test:
    runs-on: ${{ matrix.windows-version }}
    strategy:
      fail-fast: false
      matrix:
        cmake-config:
          - 'Release'
          - 'Debug'
        windows-version:
          - 'windows-2019'
          - 'windows-2022'
    env:
      CXXFLAGS: /MP
      OPENSSL64_ROOT: "C:/Program Files/OpenSSL-Win64"

    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: DDS-Router

      - name: Install OpenSSL
        uses: ./DDS-Router/.github/actions/install-openssl-windows

      - name: Install GTest
        uses: ./DDS-Router/.github/actions/install-gtest-windows
        with:
          cmake_build_type: ${{ matrix.cmake-config }}

      - name: Install yaml-cpp
        uses: ./DDS-Router/.github/actions/install-yamlcpp-windows
        with:
          cmake_build_type: ${{ matrix.cmake-config }}

      - name: Get build eProsima dependencies Job Id
        shell: pwsh
        run: |
          $RUNS_URI = '${{ github.api_url }}/repos/${{ github.repository }}/actions/workflows/build_fastdds.yml/runs';
          Invoke-RestMethod -Uri $RUNS_URI -OutFile content.json;
          $job_id = jq -c '.workflow_runs[]  | select(.status == \"completed\") | .id' .\content.json | select -first 1;
          echo "fastdds_job_id=$job_id" >> $env:GITHUB_ENV;

      - name: Download eProsima dependencies
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_fastdds.yml
          path: ${{ github.workspace }}\..\fastdds\install
          name: ${{ matrix.windows-version }}_${{ matrix.cmake-config }}_fastdds_install
          run_id: ${{ env.fastdds_job_id }}

      - name: Install ddsrouter_core
        uses: ./DDS-Router/.github/actions/install-router-subpackage-windows
        with:
          cmake_build_type: ${{ matrix.cmake-config }}
          subpackage: ddsrouter_core
          subpackage_dir: ddsrouter_core

      - name: Install ddsrouter_yaml
        uses: ./DDS-Router/.github/actions/install-router-subpackage-windows
        with:
          cmake_build_type: ${{ matrix.cmake-config }}
          subpackage: ddsrouter_yaml
          subpackage_dir: ddsrouter_yaml

      - name: Install ddsrouter_tool
        uses: ./DDS-Router/.github/actions/install-router-subpackage-windows
        with:
          cmake_build_type: ${{ matrix.cmake-config }}
          subpackage: ddsrouter_tool
          subpackage_dir: tools/ddsrouter_tool

      - name: Run tests ddsrouter_core
        uses: ./DDS-Router/.github/actions/run-test-windows
        with:
          package_name: ddsrouter_core
          cmake_build_type: ${{ matrix.cmake-config }}
        if: always()

      - name: Run tests ddsrouter_yaml
        uses: ./DDS-Router/.github/actions/run-test-windows
        with:
          package_name: ddsrouter_yaml
          cmake_build_type: ${{ matrix.cmake-config }}
        if: always()

      - name: Run tests ddsrouter_tool
        uses: ./DDS-Router/.github/actions/run-test-windows
        with:
          package_name: ddsrouter_tool
          cmake_build_type: ${{ matrix.cmake-config }}
        if: always()


  ubuntu-main-test:
    runs-on: ubuntu-20.04
    environment:
      name: codecov

    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: src/DDS-Router

      - name: Install apt packages
        uses: ./src/DDS-Router/.github/actions/install-apt-packages

      - name: Install GTest
        uses: ./src/DDS-Router/.github/actions/install-gtest-linux

      - name: Install Python packages
        uses: ./src/DDS-Router/.github/actions/install-python-packages

      - name: Get build eProsima dependencies Job Id
        run: |
          export JOB_ID=$(curl -sL $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/build_fastdds.yml/runs | \
            jq '.workflow_runs[] | select(.status == "completed") | .id' | \
            head -n 1)
          echo "fastdds_job_id=${JOB_ID}" >> $GITHUB_ENV

      - name: Download eProsima dependencies
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_fastdds.yml
          path: /home/runner/work/fastdds/install
          name: ubuntu-20.04_fastdds_install
          run_id: ${{ env.fastdds_job_id }}

      - name: Update colcon mixin
        run: |
          colcon mixin add default \
            https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
        continue-on-error: true

      - name: Build workspace
        run: |
          cat src/DDS-Router/.github/workflows/test_colcon.meta
          source /home/runner/work/fastdds/install/setup.bash
          colcon build \
            --event-handlers=console_direct+ \
            --metas src/DDS-Router/.github/workflows/test_colcon.meta \
            --mixin coverage-gcc asan-gcc

      - name: Run tests ddsrouter_core
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_core

      - name: Run tests ddsrouter_yaml
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_yaml
        if: always()

      - name: Run tests ddsrouter_yaml_validator
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_yaml_validator
        if: always()

      - name: Run tests ddsrouter_tool
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_tool
        if: always()

      - name: Run tests ddsrouter_docs
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_docs
        if: always()

      - name: Generate coverage report
        run: |
          cp src/DDS-Router/codecov.yml .
          mkdir coverage-report
          mkdir build/ddsrouter
          cp --recursive build/ddsrouter_* build/ddsrouter
          gcovr \
            --root src/DDS-Router/ \
            --output coverage-report/coverage.xml \
            --xml-pretty \
            --exclude='.*docs/.*' \
            --exclude='.*test/.*' \
            --exclude='.*github/.*' \
            --exclude='.*common/.*' \
            --exclude='.*dev/.*' \
            --exclude='.*thirdparty/.*' \
            --exclude='.*resources/.*' \
            --exclude-unreachable-branches \
            build/ddsrouter_*

      - name: Upload coverage
        uses: actions/upload-artifact@v1
        with:
          name: coverage-report
          path: coverage-report/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage-report/coverage.xml
          root_dir: src/DDS-Router
          fail_ci_if_error: true

      - name: Upload documentation
        uses: actions/upload-artifact@v1
        with:
          name: Documentation HTML
          path: install/ddsrouter_docs/docs/ddsrouter_docs/sphinx/html/

      - name: Upload spelling errors
        uses: actions/upload-artifact@v1
        with:
          name: spelling_errors.txt
          path: build/ddsrouter_docs/docs/test/spelling/output.txt
        continue-on-error: true

      - name: Upload Logs
        uses: actions/upload-artifact@v1
        with:
          name: colcon-logs-ubuntu
          path: log/
        if: always()


  ubuntu-release-test:
    runs-on: ${{ matrix.ubuntu-version }}
    strategy:
      fail-fast: false
      matrix:
        ubuntu-version:
          - 'ubuntu-20.04'
          - 'ubuntu-22.04'

    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: src/DDS-Router

      - name: Install apt packages
        uses: ./src/DDS-Router/.github/actions/install-apt-packages

      - name: Install GTest
        uses: ./src/DDS-Router/.github/actions/install-gtest-linux

      - name: Install Python packages
        uses: ./src/DDS-Router/.github/actions/install-python-packages

      - name: Get build eProsima dependencies Job Id
        run: |
          export JOB_ID=$(curl -sL $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/build_fastdds.yml/runs | \
            jq '.workflow_runs[] | select(.status == "completed") | .id' | \
            head -n 1)
          echo "fastdds_job_id=${JOB_ID}" >> $GITHUB_ENV

      - name: Download eProsima dependencies
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_fastdds.yml
          path: /home/runner/work/fastdds/install
          name: ${{ matrix.ubuntu-version }}_fastdds_install
          run_id: ${{ env.fastdds_job_id }}

      - name: Update colcon mixin
        run: |
          colcon mixin add default \
            https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
        continue-on-error: true

      # By default it is built in release mode
      - name: Build workspace
        run: |
          source /home/runner/work/fastdds/install/setup.bash
          colcon build \
            --event-handlers=console_direct+ \
            --cmake-args -DBUILD_TESTS=ON

      - name: Run tests
        run: |
          source install/setup.bash && \
          colcon test \
            --packages-select-regex ddsrouter \
            --packages-skip ddsrouter_yaml_validator \
            --event-handlers=console_direct+ \
            --return-code-on-test-failure \
            --ctest-args \
              --label-exclude xfail \
              --timeout 60

      - name: Upload Logs
        uses: actions/upload-artifact@v1
        with:
          name: colcon-logs-ubuntu
          path: log/
        if: always()


  ubuntu-build-test-flaky:
    runs-on: ubuntu-20.04
    environment:
      name: codecov

    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: src/DDS-Router

      - name: Install apt packages
        uses: ./src/DDS-Router/.github/actions/install-apt-packages

      - name: Install GTest
        uses: ./src/DDS-Router/.github/actions/install-gtest-linux

      - name: Install Python packages
        uses: ./src/DDS-Router/.github/actions/install-python-packages

      - name: Get build eProsima dependencies Job Id
        run: |
          export JOB_ID=$(curl -sL $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/build_fastdds.yml/runs | jq -r '.workflow_runs[0].id?')
          echo "fastdds_job_id=${JOB_ID}" >> $GITHUB_ENV

      - name: Download eProsima dependencies
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_fastdds.yml
          path: /home/runner/work/fastdds/install
          name: ubuntu-20.04_fastdds_install
          run_id: ${{ env.fastdds_job_id }}

      - name: Update colcon mixin
        run: |
          colcon mixin add default \
            https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
        continue-on-error: true

      - name: Build workspace
        run: |
          cat src/DDS-Router/.github/workflows/test_colcon.meta
          source /home/runner/work/fastdds/install/setup.bash
          colcon build \
            --event-handlers=console_direct+ \
            --metas src/DDS-Router/.github/workflows/test_colcon.meta \
            --mixin coverage-gcc asan-gcc

      - name: Run tests
        run: |
          source install/setup.bash && \
          colcon test \
            --packages-select-regex ddsrouter \
            --packages-skip ddsrouter_yaml_validator \
            --event-handlers=console_direct+ \
            --return-code-on-test-failure \
            --ctest-args \
              --label-regex xfail \
              --timeout 60


  asan-test:
    runs-on: ubuntu-20.04

    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: src/DDS-Router

      - name: Install apt packages
        uses: ./src/DDS-Router/.github/actions/install-apt-packages

      - name: Install GTest
        uses: ./src/DDS-Router/.github/actions/install-gtest-linux

      - name: Install Python packages
        uses: ./src/DDS-Router/.github/actions/install-python-packages

      - name: Get build eProsima dependencies Job Id
        run: |
          export JOB_ID=$(curl -sL $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/build_fastdds.yml/runs | \
            jq '.workflow_runs[] | select(.status == "completed") | .id' | \
            head -n 1)
          echo "fastdds_job_id=${JOB_ID}" >> $GITHUB_ENV

      - name: Download eProsima dependencies
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_fastdds.yml
          path: /home/runner/work/fastdds/install
          name: ubuntu-20.04_fastdds_install
          run_id: ${{ env.fastdds_job_id }}

      - name: Update colcon mixin
        run: |
          colcon mixin add default \
            https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
        continue-on-error: true

      - name: Build workspace
        run: |
          cat src/DDS-Router/.github/workflows/asan_colcon.meta
          source /home/runner/work/fastdds/install/setup.bash
          colcon build \
            --event-handlers=console_direct+ \
            --metas src/DDS-Router/.github/workflows/asan_colcon.meta

      - name: Run tests ddsrouter_core
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_core

      - name: Run tests ddsrouter_yaml
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_yaml
        if: always()

      - name: Run tests ddsrouter_tool
        uses: ./src/DDS-Router/.github/actions/run-test-ubuntu
        with:
          package_name: ddsrouter_tool
        if: always()

      - name: Upload Logs
        uses: actions/upload-artifact@v1
        with:
          name: asan-logs
          path: log/
        if: always()


  clang-tidy:
    runs-on: ubuntu-20.04
    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: src/DDS-Router

      - name: Install apt packages
        uses: ./src/DDS-Router/.github/actions/install-apt-packages

      - name: Install GTest
        uses: ./src/DDS-Router/.github/actions/install-gtest-linux

      - name: Install Python packages
        uses: ./src/DDS-Router/.github/actions/install-python-packages

      - name: Get build eProsima dependencies Job Id
        run: |
          export JOB_ID=$(curl -sL $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/build_fastdds.yml/runs | jq -r '.workflow_runs[0].id?')
          echo "fastdds_job_id=${JOB_ID}" >> $GITHUB_ENV

      - name: Download eProsima dependencies
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build_fastdds.yml
          path: /home/runner/work/fastdds/install
          name: ubuntu-20.04_fastdds_install
          run_id: ${{ env.fastdds_job_id }}

      - name: Build workspace
        run: |
          cat src/DDS-Router/.github/workflows/clang_colcon.meta
          source /home/runner/work/fastdds/install/setup.bash
          colcon build \
            --event-handlers=console_direct+ \
            --metas src/DDS-Router/.github/workflows/clang_colcon.meta

      - name: Run clang-tidy
        run: |
          mkdir build/ddsrouter
          cp --recursive build/ddsrouter_* build/ddsrouter
          cd build/ddsrouter
          run-clang-tidy -header-filter='.*' -checks='clang-analyzer-cplusplus' -quiet 2> ${{ github.workspace }}/clang_results.yml

      - name: Upload clang results
        uses: actions/upload-artifact@v1
        with:
          name: clang_results
          path: ${{ github.workspace }}/clang_results.yml

  uncrustify:
    runs-on: ubuntu-20.04
    steps:
      - name: Sync eProsima/DDS-Router repository
        uses: actions/checkout@v2
        with:
          path: src/DDS-Router

      - name: Fetch all branches and tags
        run: |
          cd src/DDS-Router
          git fetch --prune --unshallow

      - name: Install apt packages
        uses: ./src/DDS-Router/.github/actions/install-apt-packages

      - name: Install Python packages
        uses: ./src/DDS-Router/.github/actions/install-python-packages

      - name: Install uncrustify
        run: |
          git clone https://github.com/uncrustify/uncrustify.git \
            --branch uncrustify-0.71.0 \
            --single-branch uncrustify
          mkdir -p uncrustify/build
          cd uncrustify/build
          cmake ..
          sudo cmake --build . --target install
          cd ../..
          sudo rm -rf uncrustify

      # (TODO) Change to main branch when PR is merged
      - name: Clone ament_lint
        run: |
          git clone --branch feature/fix-language-set https://github.com/jparisu/ament_lint.git src/ament_lint

      - name: Build ament_uncrustify
        run: colcon build --packages-up-to ament_uncrustify

      - name: Fetch uncrustify config file
        run: |
          curl \
            -l https://raw.githubusercontent.com/eProsima/cpp-style/master/uncrustify.cfg \
            -o uncrustify.cfg

      - name: Get difference
        run: |
          cd src/DDS-Router
          echo "MODIFIED_FILES=$(git diff --name-only origin/${GITHUB_BASE_REF} origin/${GITHUB_HEAD_REF} | grep -e '\.h' -e '\.hpp' -e '\.cpp' -e '\.ipp' | tr '\n' ' ')" >> $GITHUB_ENV

      - name: Check difference
        run: |
          cd src/DDS-Router
          if [[ -z "${MODIFIED_FILES}" ]]
          then
            touch empty.hpp
            echo "MODIFIED_FILES=empty.hpp" >> $GITHUB_ENV
          fi

      - name: Check style
        run: |
          source install/local_setup.bash
          cd src/DDS-Router
          ament_uncrustify \
            -c ../../uncrustify.cfg \
            --language CPP \
            --xunit-file ../../uncrustify_results.xml \
            ${MODIFIED_FILES}

      - name: Upload uncrustify results
        uses: actions/upload-artifact@v1
        with:
          name: uncrustify_results
          path: uncrustify_results.xml
